.cart-item {
  padding: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 10px 20px;
  display: flex;
  font-size: 13px;
}

.cart-item-image {
  max-height: 150px;
  max-width: 150px;
  margin: 0px 20px;
  filter: grayscale(100%);  
}

.cart-item-info-quant {
  padding: 10px;
}

.del {
  margin: 10px
}

.del-button {
  margin-top: 10px;
}

.total-pay {
  border-radius: 5px;
  border: 3px solid grey;
  padding: 10px;
  margin: auto;
  width: fit-content;
}