.shop {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: space-between;
  min-height: 90vh;
  background:yellow;
}

.items-container {
  display: grid;
}

.item-card {
  position: relative;
  height: 200px;
  width: 200px;
  /* padding: 10px; */
  border: 1px solid gray;
  border-radius: 5px;
  background: white;
}

.image {
  max-height: 180px;
  max-width: 180px;
  /* max-h in pixels above instead of % because of below center*/
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}